<ul class="con_list" style="list-style-image: url(images/triforce.png);">
  <a href="mission_statement"><li><strong>mission statement</strong></li></a><br>  
  <a href="tecnology"><li><strong>tecnology</strong></li></a><br>
  <a href="enemies"><li><strong>enemys</strong></li></a><br>
  <a href="home_page"><li><strong>back to title</strong></li></a>
</ul>