<html>
<head>
  <title>The Company</title>
  <link rel="stylesheet" type="text/css" href="./css/sinatra.css">
  <link rel="list-style-img" type="img/png" href="./images/skullbullet.png">
</head>
<body>
  <div class="title">
    <h1 class="plh1">Welcome to the Company</h1>
    <h2 class="plh2">and the way to the future</h2>
  </div>
  <%= yield %>
  <footer class="ft"><a class="fta" href="contents">Contents</a></footer>
</body>
</html>