<h3>Make a post to our board!</h3>

<form action="/create_post" method="post">
  <label for="title">Your post title</label>
  <input type="text" id="title" name="post[title]">
  <br>
  <label for="body">Whats on your mind?</label>
  <br>
  <textarea name="post[body]" rows="10" cols="50" id="body"></textarea>
  <br>
  <input type="submit" value="Post Up">
</form>




















