body { margin: 0; }

a {padding: 0px 20px 0px 20px;
  color: #555555;
  text-decoration: none;}

.ul {padding: 0;}

.lang {font-size: 15px;
      padding-left: 550px;
      padding-right: 0;
      color: #868686;}

.tri {text-align: right;
      margin: 0;
      padding-left: 0;
      padding-right: 5;
      font-size: 13px;
      color: #868686;}

.acc {padding-left: 5;
      padding-right: 0;
      font-size: 15px;} 

.sign_in {padding-left: 10;
          font-size: 15px;}     

.list1 { margin-top: 0;
    margin-left: 130px;
    margin-bottom: 0;
    padding: 10px 0px 0px 0px; }

.list2 { text-align: center;
        margin-top: 0; 
        color: white;
        padding-top: 23px; } 

.h3text { font-size: 25px;
          }

.AbuTwi { text-align: center;
          color: white;
          font-size: 50px;
          margin: 0;
          text-shadow: 1px 1px 1px #31313f;}

.main { height: 285px;
        width: 100%; }

.header1 { height: 40px;
          width: 100%; }

.header2 { height: 45px;
        width: 100%;
        background-color: #ededed;
        box-shadow: inset 1px 1px 1px #cccccc; }

.header3 { height: 200px;
          width: 100%;
          background-image: url("https://g2.twimg.com/about/system/files/styles/hero_3200w_600h/public/about/page/hero/about-frontdoor-hero.jpg");
          background-size: auto 100%;
          box-shadow: inset .5px .5px 1px #191975; }

.about { position: relative;
        height: 40px;
        margin-left: 100px;
        font-size: x-large; }

.bird { margin-left: 50px;
        margin-bottom: -10px;
        height: 35px;
        width: 35px; }

.list4 { height: 500px;
        width: 100%;
        padding: 0;
        text-align: center; }

.h4img {height: 100px;
        width: 100px;}

.h4h3 { height: 50px;
      margin: 0px;
      text-align: right;}



























